*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    color: whitesmoke;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-top: 20px ;
}

.logo{
    letter-spacing: 0.6px;
}
.logo span{
    color: #ff004f;
}

.header_right ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.header_right ul li a{
    text-decoration: none;
    color: whitesmoke;
    margin:0px 15px;
    letter-spacing: 1px;
    position: relative;
}
.header_right ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: all ease-in-out 0.5s;
}
.header_right ul li a:hover::after{
    width: 100%;
}

/* Hero section  */

.hero_section{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    align-items: center;
}
.hero_section img{
    height: 560px;
}
.hero_section p{
    font-size: 30px;

}
.hero_section h1{
    margin-top: 14px;
    font-size: 60px;
}
.hero_section span{
    color: #ff004f;
}

/* -------------------------------about section ------------------------------- */

.About_section{
    color: #ababab;
    display: flex;
    width: 80%;
    margin: auto;

}
.About img{
    width: 350px;
    border-radius: 20px;
}
.about_right_text{
    margin-left: 4rem;
}
.About_margin_top_div{
    margin-top: 4rem;
}
.about_right_text h1{
    font-size: 60px;
    color: whitesmoke;
}
.about_right_text p{
    /* font-size: 16px; */
    letter-spacing: 1px;
    margin-top: 1rem;
}

.tab_titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab_links{
    margin-right: 50px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab_links::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    left: 0;
    bottom: -8px;
    transition: all ease-in-out 0.5s;
    position: absolute;


}

.tab_links.active_link::after{
    width: 100%;
}

.tab_contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab_contents ul li span{
    color: #b54769;
    font-size: 14px;
    margin-top: 10px;
}
.tab_contents{
    display: none;
}
.tab_contents.active_tab{
    display: block;
}

/* ----------------------services---------------------------- */

#services{
    width: 80%;
    margin: auto;
}

.service_container h1{
    font-size: 60px;
    margin-top: 3rem;
}
.services_list{
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    letter-spacing: 1px;
    background-color:#28282B;
    width: 30%;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    margin: 10px;
    transition: background 0.5s, transform 0.5s;
}
.card h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.card p{
    margin-bottom: 1rem;
    letter-spacing: 1px;
}

.card i{
    font-size: 3rem;
    margin-bottom: 2rem;
}

.card a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 12px;
    margin-top: 20px;
    /* display: inline-block; */
}
.card:hover{
    background-color: #ff004f;
    transform: translateY(-10px);
}


/* =======================portfolio============================= */

#portfolio{
    padding: 50px 0;
    width: 80%;
    margin: auto;
}
.portfolio_header{
    font-size: 60px;
    font-weight: 600;
}
.portfolio_work_list{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}
.portfolio_work img{
    width: 300px;
    height: 400px;
    margin: 0;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    display: block;
}
.portfolio_work{
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}
.portfolio_work:hover img{
    transform: scale(1.1);
}
.portfolio_work:hover .layer{
    height: 100%;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6),#28282B);
    border-radius: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 30px;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 900;
    margin-bottom: 20px;
    font-size: 1.3rem;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background-color: #fff;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-align: center;
}

.portfolio_btn{
    margin: 50px 0;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 8px;
    cursor: pointer;
    background-color: transparent;
    color: whitesmoke;
    font-weight: 600;
    font-size: 1.2rem;
    transition: all 0.5s ease-in-out;
}
.portfolio_btn:hover{
    background-color: #ff004f;
}

/* =================================== contact information ====================================== */

#contact{
    width: 80%;
    margin: auto;
}
.contact_row{
    display: flex;
}
.contact_left h1{
    font-size: 60px;
}
.contact_left{
    flex-basis: 35%;
}
.contact_right{
    flex-basis: 60%;
}
.contact_left p{
    margin-top: 30px;
    font-size: 1.2rem;
}
.contact_left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.contact_socialMedia{
    margin: 30px 0;
}
.contact_socialMedia a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.contact_socialMedia a:hover{
    color: #ff004f;
    transform: translateY(-7px);
}
.contact_btn a{
    text-decoration: none;
    color: whitesmoke;
}
.contact_btn{
    width: fit-content;
    padding: 14px 50px;
    border-radius: 8px;
    cursor: pointer;
    background-color: transparent;
    color: whitesmoke;
    background-color: #ff004f;
    font-weight: 600;
    font-size: 1.2rem;
}
.contact_right form{
    width: 100%;
}
form input, form textarea{
    padding: 15px;
    width: 100%;
    border: none;
    outline: none;
    background: #28282B;
    margin: 15px 0;
    color: whitesmoke;
    font-size: 1rem;
    border-radius: 8px;
}
.Submit_btn{
    width: fit-content;
    padding: 14px 50px;
    border-radius: 8px;
    cursor: pointer;
    background-color: transparent;
    color: whitesmoke;
    background-color: #ff004f;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.map iframe{
    margin-top: 3rem;
    width: 100%;
    height: 300px;
}

footer{
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 10px 0;
    margin-top: 20px;
    background-color: #28282B;
}